.header {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;

  &__title, &__subtitle {
    margin: 0;
    padding: 0;
  }
  
  &__separetor {
    width: 40%;
    background-color: $color2;
    border-radius: 5px;
    opacity: .6;
    height: 2px;
    margin: 1px 0;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrap--1 {
    flex-direction: column;
  }

  &__wrap--1, &__wrap--3 {
    width: 30%;
  }

  &__wrap--2 {
     width: 40%;
  }

  &__input {
    border: 1px solid $color2;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    width: 90%;
  }

  &__btn {
    background-color: $color2;
    border-radius: 50%;
    position: relative;
    margin: 0 10px;
    height: 50px;
    width: 50px;
  }
}
