
.header-modal {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  transition: opacity 300ms;
  pointer-events: none;
  opacity: 0;

  &.active {
    pointer-events: auto;
    opacity: 1;
  }

  &__validation-box {
    transition: opacity 500ms ease;
    border-radius: 5px;
    position: absolute;
    pointer-events: none;
    bottom: 5%;
    opacity: 0;

    width: calc(100% - 100px);
    transform: translateX(-50%);
    left: 50%;
  }

  &.modal-info .header-modal__validation-box {
    opacity: 1;
  }

  &.error {
    .header-modal__validation-box {
      background-color: $btn-color4;
      color: $color1;
    }
  }

  &.success {
    .header-modal__validation-box {
      background-color: $btn-color3;
      color: $color1;
    }
  }

  &__validation-text {
    text-align: center;
  }

  &__background {
    background-color: $color1;
    opacity: 0.9;
    height: 100%;
    width: 100%;
  }

  &__btn {
    margin-left: auto;
    padding: 5px;
    width: 40px;

    position: absolute;
    right: 5px;
    top: 5px;
  }

  &__content-wrap {
    transform: translate(-50%, -50%);
    background-color: $color5;
    border: 2px solid $color4;
    border-radius: 10px;
    position: fixed;
    width: 350px;
    left: 50%;
    top: 50%;

    @include mobile-small {
      width: 85%;
    }
  }

  &__content {
    padding: 80px 0 90px 0;
    position: relative;
  }

  &__title {
    text-transform: uppercase;
    margin: 0 0 30px 0;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
  }

  &__input {
    border: 1px solid $color2;
    margin-bottom: 30px;
    border-radius: 5px;
    min-height: 30px;
    padding: 0 10px;
  }

  &__label {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    margin-bottom: 5px;
  }

  &__submitBtn {
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px;
    border: none;
    margin: 0;
    margin-top: 10px;

    transition: opacity 500ms ease;
    background-color: $color2;
    color: $color1;
    opacity: 0.7;
    
    &:hover {
      opacity: 1;
    }
  }
}
