
.todoTable {
  width: 100%;
  border-collapse: collapse;

  @include desktop-small {
    margin: 0 auto;
    width: 90%;
  }
  
  &__row--main {
    background-color: $color4;
  }

  &__tableRow.done {
    .todoTable__cell--name {
      text-decoration: line-through
    }
  }

  &__tHeading {
    padding: 10px 0;
  }

  &__tableRow {
    text-align: center;
  }

  &__tableRow:nth-child(even) {
    background-color: $color6;
  }

  &__tableRow:nth-child(odd) {
    background-color: $color5;
  }

  &__cell {
    font-weight: 400;
    padding: 5px 0;
  }

  &__cell--name {
    width: 60%;
  }

  &__cell--prio {
    width: 10%;
  }

  &__cell--dued {
    width: 15%;
  }

  &__cell--ctrl {
    width: 15%;
  }

  @include desktop-small {
    &__cell--name {
      width: 40%;
    }
  
    &__cell--dued {
      width: 10%;
    }
  
    &__cell--ctrl {
      width: 15%;
    }
  }

  @include tablet {
    &__cell--name {
      width: 25%;
    }

    &__cell--dued {
      width: 10%;
    }
  }

  @include mobile {
    &__cell--ctrl {
      width: 1%;
    }
  }

  .btn {
    display: inline-block;
    line-height: 0;
  }
}
