.todoTable {
  width: 100%;
  border-collapse: collapse;
  
  &__row--main {
    background-color: $color4;
  }

  &__tableRow.done {
    .todoTable__cell--name {
      text-decoration: line-through
    }
  }

  &__tableRow {
    text-align: center;
  }

  &__tableRow:nth-child(even) {
    background-color: $color6;
  }

  &__tableRow:nth-child(odd) {
    background-color: $color5;
  }

  &__cell {
    padding: 3px 0;
  }

  &__cell--name {
    width: 60%;
  }

  &__cell--prio {
    width: 10%;
  }

  &__cell--dued {
    width: 15%;
  }

  &__cell--ctrl {
    width: 15%;
  }

  .btn {
    display: inline-block;
    line-height: 0;
  }
}

