body {
  background-color: #f8f8f8;
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  &__title, &__subtitle {
    margin: 0;
    padding: 0;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrap--1 {
    flex-direction: column;
  }

  &__wrap--1, &__wrap--3 {
    width: 30%;
  }

  &__wrap--2 {
     width: 40%;
  }

  &__input {
    padding: 10px 0;
    width: 90%;
  }

  &__btn {
    background-color: #969696;
    height: 50px;
    width: 50px;
  }

  &__btn--srch {
    margin-right: 10px;
  }
}

.todoTable {
  width: 100%;

  &__row--main {
    background-color: #969696;
  }
}

