.header {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;

  &__title, &__subtitle {
    margin: 0;
    padding: 0;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrap--1 {
    flex-direction: column;
  }

  &__wrap--1, &__wrap--3 {
    width: 30%;
  }

  &__wrap--2 {
     width: 40%;
  }

  &__input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    width: 90%;
  }

  &__btn {
    background-color: #B2B7FF;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    position: relative;
  }

  &__btn--srch {
    margin-right: 10px;
  }
}
