
.header__wrap .icon {
  transform: translate(-50%, -50%);
  position: absolute;
  height: 30px;
  left: 50%;
  top: 50%;

  &--add {
    height: 100%;
  }
}

.header-modal .icon {
  &--close {
   
    height: 40px;
  }
  .primary {
    fill: $btn-color4; 
  }
}

.todoTable .icon {
  height: 25px;
}

.icon {
  opacity: 0.5;
  transition: opacity 300ms ease;

  &:hover {
    opacity: 1;
  }

  .primary {
    fill: $btn-color2; 
  }
  
  .secondary {
    fill: $btn-color1; 
  }
}

.icon--dn {
  .primary {
    fill: $btn-color3; 
  }
}

.btn--rm {
  .primary {
    fill: $btn-color4; 
  }
}
